* {
  box-sizing: border-box;
  font-family: roboto;
}

.spinner-area {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .preloader-wrapper {
    width: 10rem;
    height: 10rem;
  }
}

.Ripple-parent {
  img {
    width: 100%;
    height: 250px;
  }
}

.card-body.text-center {
  width: 100%;
}

.custom-card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-area {
  display: inline-block;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 3px #ddd;
  text-align: center;
  line-height: 50px;
  border-radius: 100%;
  transition: 0.3s;
  cursor: pointer;
  // &:hover {
  //   background: #2196f3 !important;
  //   color: #fff;
  // }
}

.col-md-6.col-lg-4.mb-lg-0.mb-4.active {
  .card-area {
    background: #2196f3 !important;
    color: #fff;
    box-shadow: 0px 0px 25px #ddd;
  }
}

.md-tabs {
  background-color: #2196f3 !important;
  margin: 0 0 40px 0;
}

.card.card-info-area {
  margin-top: 144px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;

  h4 {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
  }

  button.text-danger {
    background: none;
    border: none;
  }
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  margin: 10px 0;

  img {
    width: 50px;
    height: 50px;
  }

  .card-item-content {
    text-align: left;
    width: 70px;
  }

  i {
    font-size: 15px;
  }

  h6 {
    font-size: 14px;
    margin: 0;
  }

  p {
    font-size: 13px;
    margin: 0;
  }
}

.card-info-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;

  button {
    font-size: 12px;
    padding: 8px 15px;
  }

  p {
    font-size: 14px;
    margin: 0;
  }
}

.close {
  cursor: pointer;
}

.card {
  margin-bottom: 30px;
}
